<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding *ngIf="show">
	<div id="profile_picDiv">
    	<img  id="profile_pic" src="../../assets/imgs/logo.png">
    	<ion-icon name="create"></ion-icon>
	</div>
	<form (ngSubmit)="updateUser()" #registerForm="ngForm">
    <ion-list>
      <ion-item>
      	<ion-label>Nome:</ion-label>
        <ion-input type="text" name="nome" [(ngModel)]="data.nome" [disabled]="inactiveNome" ></ion-input>
       	<span ion-button clear item-right><ion-icon name="create"  (click)="edit('nome')" ></ion-icon></span> 
      </ion-item>
      <ion-item>
      	<ion-label>Email:</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="data.email" [disabled]="inactiveEmail"></ion-input>
        <span ion-button clear item-right><ion-icon name="create"  (click)="edit('email')" ></ion-icon></span> 
      </ion-item>
      <ion-item>
      	<ion-label>Endereço:</ion-label>
        <span ion-button clear item-right><ion-icon name="create"  (click)="showMap()" ></ion-icon></span> 
        <ion-textarea name="endereco" [(ngModel)]="data.endereco" rows="5" [disabled]="inactiveEnd"></ion-textarea>
      </ion-item>
     
      <ion-item *ngIf=!inactiveSenha>
      	<ion-label>Nova senha:</ion-label>
        <ion-input type="password" name="password"></ion-input>
      </ion-item>
      <ion-item *ngIf=!inactiveSenha>
      	<ion-label>Confirmar senha:</ion-label>
        <ion-input type="password" name="password"></ion-input>
      </ion-item>
      	<ion-label *ngIf="inactiveSenha" (click)="edit('senha')" id="senha">Mudar a senha</ion-label>
    </ion-list>
  <button ion-button color="secondary" class="btn" type="submit">Confirmar</button>
  </form>
</ion-content>
<ion-footer>
</ion-footer>
