page-home {
	#display{
		font-size: 35px;	
		width: 57px;
		position: relative;
		left: 10px;
	}
	.btnHome{
		height: 50px;
		width: 50px;
		margin: 0;
		border-radius: 100%;
	}

	#mais, #menos{
		position: relative;
		top: 7px;
	}
	#menos{
		float: right;
	}
	#display:focus{
		border-color: map-get($colors, secondary);
	}

	.btnOK{
		width: 96px;
		position: relative;
		top: 20px;
		left: 64px;
	}

}
