page-home {

}
#display{
	font-size: 20px;	
}
.btnHome{
	height: 50px;
	width: 50px;
    margin: 0;
    border-radius: 100%;
}

#mais{
	float: left;
}

#menos{
	float: right;
}

#display:focus{
	border-color: map-get($colors, secondary);
}

.btnOK{
	float: right;
	margin: 25px;
	width: 20%;
}